/.idea
/encaplu.py
/graphics.c++
/linear regression
/logistic Regression classifier
/melove.c
/melove.exe
/noise.py
/op.py
/pop.c
/python program
/studentinfo.c++
/studentinfo.exe
/tempCodeRunnerFile.c++
/tutedude